body{
  background-color:#2C2C34;
}

.App {
  text-align: center;
}

#pageContainer{
  width: 80%;
  margin: 0 auto;
}

#titleContainer{
  color: white;
  padding: 0px 20%;
}

#titleLogo{
  margin-top:30px;
  max-width: 200px;
}

#signatureContainer{
  padding: 50px 20px;
  border-radius: 8px;
  background-color: white;
}

.alert{
  font-size: 0.75rem;
  color:red;
  display: block;
  margin: 0.25em 0;
}

form{
  color: white;
}

form div{
  margin: 0.5em 0;
}

label{
  margin-right: 0.5em;
}

p{
  text-align: left;
}

#submitButton{
  margin: 1rem 0;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 8px;
  transition: ease-in-out 0.3s;
}

#submitButton:hover{
  cursor:pointer;
  color: black;
  background-color: white;
  transform: scale(1.1);
}